#asa{
    color:blue;
    font-size:xx-large;
    float: inline-start;
}
#ase{
    color:chocolate;
    font-size: xx-large;
    float: right;     
}
#asi{
    color:yellow;
    font-size: xx-large;
    float: right;
}
#aso{
    color:blue;
    font-size: xx-large;
    float: right;
}
#asu{
    color:green;
    font-size: xx-large;
    float: right;
}
#asua{
    color:chocolate;
    font-size: xx-large;
    float: right;
}